<settings>
  <setting name="new-image-width" type="System.Int32">1189</setting>
  <setting name="new-image-height" type="System.Int32">912</setting>
  <setting name="default-image-type" type="System.String">png</setting>
  <setting name="window-size-width" type="System.Int32">474</setting>
  <setting name="window-size-height" type="System.Int32">519</setting>
  <setting name="ruler-metric" type="System.Int32">2</setting>
  <setting name="window-maximized" type="System.Boolean">False</setting>
  <setting name="ruler-shown" type="System.Boolean">False</setting>
  <setting name="toolbar-shown" type="System.Boolean">True</setting>
  <setting name="pixel-grid-shown" type="System.Boolean">False</setting>
  <setting name="last-dialog-directory" type="System.String">/home/johnlocke/downloads</setting>
  <setting name="jpg-quality" type="System.Int32">100</setting>
  <setting name="image-tabs-shown" type="System.Boolean">True</setting>
</settings>